<section id="link" class="third-section dark-section">
	<div  class="conteiner-fluid">
		<h2><a href="/">Контакты</a></h2>
		<div class="row no-gutters g-0">
			<div class="col-md-4">
				<ul class="contact-1">
					<li>Звоните по телефону :</li>
					<li class="red-1">8(909)-567-45-23</li>
					<li>Работаем :</li>
					<li class="pn">пн-пт<br>8.00-19.00</li>
					<li class="pn">сб<br>8.00-16.00</li>
					<li class="pn">вс<br>выходной</li>
					<li class="ob">обед с 13.00-14.00</li>
				</ul>
			</div>
		</div>
	</div>
</section>